In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

dataset_df = pd.read_csv('train.csv')
dataset_df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [2]:
dataset_df.describe()
#숫자로 된 column의 경우 대략적인 정보들 파악 가능

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [3]:
#Cabin column을 / 기준 3개로 쪼개고, 원래의 Cabin 없애기
dataset_df[['Deck', 'Cabin_num', 'Side']] = dataset_df['Cabin'].str.split('/', expand=True)
try:
    dataset_df = dataset_df.drop('Cabin', axis=1)
except KeyError:
    print("Field does not exist")

In [4]:
#모델 training에 필요하지 않은 column은 drop하기
dataset_df = dataset_df.drop(['PassengerId', 'Name'], axis=1)

In [5]:
#column마다 결측치가 얼마나 많은지 내림차순으로 정렬하여 확인
dataset_df.isnull().sum().sort_values(ascending=False)

CryoSleep       217
ShoppingMall    208
VIP             203
HomePlanet      201
Deck            199
Cabin_num       199
Side            199
VRDeck          188
FoodCourt       183
Spa             183
Destination     182
RoomService     181
Age             179
Transported       0
dtype: int64

In [6]:
#결측치는 최빈값으로 채우기
dataset_df=dataset_df.fillna(dataset_df.mode().iloc[0])

In [7]:
#문자 데이터 숫자로 변환
dataset_df['Cabin_num'] = dataset_df['Cabin_num'].astype(int)
dataset_df['VIP'] = dataset_df['VIP'].astype(int)
dataset_df['CryoSleep'] = dataset_df['CryoSleep'].astype(int)
#문자로 된 데이터는 forest에 넣을 수 없기 때문에 변환해야
from sklearn.preprocessing import LabelEncoder
train_enc = dataset_df.copy()
object_columns = train_enc.columns[train_enc.dtypes == 'object']
for o_col in object_columns:
    encoder = LabelEncoder()
    encoder.fit(train_enc[o_col])
    train_enc[o_col]=encoder.transform(train_enc[o_col])
train_enc

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Deck,Cabin_num,Side
0,1,0,2,39.0,0,0.0,0.0,0.0,0.0,0.0,False,1,0,0
1,0,0,2,24.0,0,109.0,9.0,25.0,549.0,44.0,True,5,0,1
2,1,0,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,False,0,0,1
3,1,0,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0,False,0,0,1
4,0,0,2,16.0,0,303.0,70.0,151.0,565.0,2.0,True,5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,1,0,0,41.0,1,0.0,6819.0,0.0,1643.0,74.0,False,0,98,0
8689,0,1,1,18.0,0,0.0,0.0,0.0,0.0,0.0,False,6,1499,1
8690,0,0,2,26.0,0,0.0,0.0,1872.0,1.0,0.0,True,6,1500,1
8691,1,0,0,32.0,0,0.0,1049.0,0.0,353.0,3235.0,False,4,608,1
8692,1,0,2,44.0,0,126.0,4688.0,0.0,0.0,12.0,True,4,608,1

In [8]:
#파라미터 튜닝 없이 그냥 RandomForestClassifier만 활용
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
y = train_enc['Transported']
X = train_enc.drop('Transported', axis=1)
X_train, X_valid, y_train, y_valid = train_test_split(X, y, stratify=y, random_state=1)

forest = RandomForestClassifier(random_state=0)
forest.fit(X_train, y_train)
print("훈련 세트 점수: {:.3f}".format(forest.score(X_train, y_train)))
print("valid 세트 점수: {:.3f}".format(forest.score(X_valid, y_valid)))

훈련 세트 점수: 0.999
valid 세트 점수: 0.808

In [55]:
#파라미터 튜닝을 통해 0.808보다 높은 점수 얻어보기
from sklearn.model_selection import GridSearchCV

#parameter -> 여기에는 'max_depth':[None, 5, 10, 15, 20] 이런 거를 대부분의 파라미터 대상으로 돌려서 default가 아닌 가장 잘 나온 결과만 적기
params = { 
    'min_samples_leaf' : [1, 2, 3, 4, 5],
    'n_estimators' : [200],
    'random_state' : [0]
}
random_rf = GridSearchCV(forest, param_grid=params, cv=5)
random_rf.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(random_state=0),
             param_grid={'min_samples_leaf': [1, 2, 3, 4, 5],
                         'n_estimators': [200], 'random_state': [0]})

In [56]:
print("훈련 세트 점수: {:.3f}".format(estimator.score(X_train, y_train)))
print("valid 세트 점수: {:.3f}".format(estimator.score(X_valid, y_valid)))

훈련 세트 점수: 0.921
valid 세트 점수: 0.810

In [10]:
#test.csv 불러와서 test_enc(전처리 결과) 생성
test_df = pd.read_csv('test.csv')
test_df[['Deck', 'Cabin_num', 'Side']] = test_df['Cabin'].str.split('/', expand=True)
try:
    test_df = test_df.drop('Cabin', axis=1)
except KeyError:
    print("Field does not exist")
test_df = test_df.drop(['PassengerId', 'Name'], axis=1)
test_df=test_df.fillna(test_df.mode().iloc[0])
test_df['Cabin_num'] = test_df['Cabin_num'].astype(int)
test_df['VIP'] = test_df['VIP'].astype(int)
test_df['CryoSleep'] = test_df['CryoSleep'].astype(int)
#문자로 된 데이터는 forest에 넣을 수 없기 때문에 변환해야
from sklearn.preprocessing import LabelEncoder
test_enc = test_df.copy()
object_columns = test_enc.columns[test_enc.dtypes == 'object']
for o_col in object_columns:
    encoder = LabelEncoder()
    encoder.fit(test_enc[o_col])
    test_enc[o_col]=encoder.transform(test_enc[o_col])